name: data-pipeline-workflow

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '35 0 * * *'  # Runs daily at 12:35 AM
  
jobs:
  run-data-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run data pipeline script
        env:
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
        run: |
          python data_pipeline.py
      
      - name: Check for changes
        id: git-check
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          git add .
          git diff --staged --quiet || echo "changes=true" >> $GITHUB_ENV
      
      - name: Commit and push changes
        if: env.changes == 'true'
        run: |
          git commit -m "updated video index"
          git push